In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
taxis = sns.load_dataset("taxis")

In [3]:
print(taxis.info())
print(taxis.head(n=10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB
None
               pickup             dropoff  passengers  distance  fare   tip  \
0 2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0  2.15
1 2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0  0.00
2 2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5  2.36
3 2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0  6.15
4 2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0  1.10
5 2019-03-11 10:37:23 2019-03-11 10:47:31           1      0.49   7.5  2.16
6 2019-03-26 21:07:31 2019-03-26 21:17:29           1      3.65  13.0  2.00
7 2019-03-22 12:47:13 2019-03-22 12:58:17           0      1.40   8.5  0.00
8 2019-03-23 11:48:50 2019-03-23 12:06:14           1      3.63  15.0  1.00
9 2019-03-08 16:18:37 2019-03-08 16:26:57           1      1.52   8.0  1.00

   tolls  total   color      payment                pickup_zone  \
0    0.0  12.95  yellow  credit card            Lenox Hill West
1    0.0   9.30  yellow         cash      Upper West Side South
2    0.0  14.16  yellow  credit card              Alphabet City
3    0.0  36.95  yellow  credit card                  Hudson Sq
4    0.0  13.40  yellow  credit card               Midtown East
5    0.0  12.96  yellow  credit card  Times Sq/Theatre District
6    0.0  18.80  yellow  credit card          Battery Park City
7    0.0  11.80  yellow          NaN                Murray Hill
8    0.0  19.30  yellow  credit card          East Harlem South
9    0.0  13.30  yellow  credit card        Lincoln Square East

              dropoff_zone pickup_borough dropoff_borough
0      UN/Turtle Bay South      Manhattan       Manhattan
1    Upper West Side South      Manhattan       Manhattan
2             West Village      Manhattan       Manhattan
3           Yorkville West      Manhattan       Manhattan
4           Yorkville West      Manhattan       Manhattan
5             Midtown East      Manhattan       Manhattan
6  Two Bridges/Seward Park      Manhattan       Manhattan
7                 Flatiron      Manhattan       Manhattan
8           Midtown Center      Manhattan       Manhattan
9             Central Park      Manhattan       Manhattan

In [ ]:
sns