In [4]:
# Imports
import pandas as pd
import numpy as np
from statistics import stdev, mean
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
"""
Instructions: 
use yfinance to query ytd stock prices for four stocks of your choosing. We´ve got 181 days worth of data this year. 
Get the first 181 days of data for the same stocks in 2022
Make sure the ticket symbol is a feature. This may require you to address multiindexed columns
Create a feature called Range and assign to it the difference between high and low
Imagine we want to produce a line chart with one of the tickers, 
plotting 2022 data against 2023 data, with the temporal measure on the x-axis. 
think of and implement a way to accomplish this. 
Consider adding a feature that represents the dates in a different yet consistent way
if you have time, attempt a basic matplotlib pyplot as described above
"""

'\nInstructions: \nuse yfinance to query ytd stock prices for four stocks of your choosing. We´ve got 181 days worth of data this year. \nGet the first 181 days of data for the same stocks in 2022\nMake sure the ticket symbol is a feature. This may require you to address multiindexed columns\nCreate a feature called Range and assign to it the difference between high and low\nImagine we want to produce a line chart with one of the tickers, \nplotting 2022 data against 2023 data, with the temporal measure on the x-axis. \nthink of and implement a way to accomplish this. \nConsider adding a feature that represents the dates in a different yet consistent way\nif you have time, attempt a basic matplotlib pyplot as described above\n'

In [7]:
# Selection of stocks
stocks = ["AAPL", "GOOG", "INTC", "SPYD", "QQQ"]
# Ticker objects
tickers = yf.Tickers(stocks)

In [8]:
history_previous_year = tickers.history(start="2022-01-01", end="2022-09-21")
history_previous_year

[*********************100%%**********************]  5 of 5 completed

           Capital Gains            Close                                     \
                     QQQ SPYD        AAPL        GOOG       INTC         QQQ
Date
2022-01-03           0.0  0.0  180.190964  145.074493  50.175880  397.004974
2022-01-04           0.0  0.0  177.904053  144.416504  50.109867  391.855652
2022-01-05           0.0  0.0  173.171829  137.653503  50.798244  379.817413
2022-01-06           0.0  0.0  170.281006  137.550995  50.930256  379.550507
2022-01-07           0.0  0.0  170.449341  137.004501  50.392761  375.438965
...                  ...  ...         ...         ...        ...         ...
2022-09-14           0.0  0.0  154.394058  105.870003  28.226994  293.509460
2022-09-15           0.0  0.0  151.471405  103.900002  27.898100  288.621429
2022-09-16           0.0  0.0  149.811249  103.629997  28.285034  286.856598
2022-09-19           0.0  0.0  153.568939  103.849998  28.478502  289.090454
2022-09-20           0.0  0.0  155.974701  101.830002  28.014177  286.786072

                      Dividends            ... Stock Splits                 \
                 SPYD      AAPL GOOG INTC  ...         AAPL GOOG INTC  QQQ
Date                                       ...
2022-01-03  38.992813       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-01-04  39.655109       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-01-05  39.526333       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-01-06  39.839085       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-01-07  40.216228       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
...               ...       ...  ...  ...  ...          ...  ...  ...  ...
2022-09-14  37.848000       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-09-15  37.612103       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-09-16  37.362255       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-09-19  37.676945       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0
2022-09-20  37.009422       0.0  0.0  0.0  ...          0.0  0.0  0.0  0.0

                    Volume
           SPYD       AAPL      GOOG      INTC       QQQ     SPYD
Date
2022-01-03  0.0  104487900  25214000  33857600  40575900  1375200
2022-01-04  0.0   99310400  22928000  45681400  58027200  1878700
2022-01-05  0.0   94537600  49642000  59109300  75739800  2496000
2022-01-06  0.0   96904000  29050000  35757900  70814300  1829400
2022-01-07  0.0   86709100  19408000  30717200  72652300  1363000
...         ...        ...       ...       ...       ...      ...
2022-09-14  0.0   87965400  22115800  40767200  54907200  2251700
2022-09-15  0.0   90481100  26494900  39919100  65299400  1981700
2022-09-16  0.0  162278800  64540100  72748000  79920400  2956400
2022-09-19  0.0   81474200  19738600  33151900  52613800  1615900
2022-09-20  0.0  107689800  24001700  31129000  51271100  3115600

[180 rows x 37 columns]

In [10]:
history_previous_year.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 180 entries, 2022-01-03 to 2022-09-20
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Capital Gains, QQQ)   180 non-null    float64
 1   (Capital Gains, SPYD)  180 non-null    float64
 2   (Close, AAPL)          180 non-null    float64
 3   (Close, GOOG)          180 non-null    float64
 4   (Close, INTC)          180 non-null    float64
 5   (Close, QQQ)           180 non-null    float64
 6   (Close, SPYD)          180 non-null    float64
 7   (Dividends, AAPL)      180 non-null    float64
 8   (Dividends, GOOG)      180 non-null    float64
 9   (Dividends, INTC)      180 non-null    float64
 10  (Dividends, QQQ)       180 non-null    float64
 11  (Dividends, SPYD)      180 non-null    float64
 12  (High, AAPL)           180 non-null    float64
 13  (High, GOOG)           180 non-null    float64
 14  (High, INTC)           180 non-null    float64
 15  (High, QQQ)            180 non-null    float64
 16  (High, SPYD)           180 non-null    float64
 17  (Low, AAPL)            180 non-null    float64
 18  (Low, GOOG)            180 non-null    float64
 19  (Low, INTC)            180 non-null    float64
 20  (Low, QQQ)             180 non-null    float64
 21  (Low, SPYD)            180 non-null    float64
 22  (Open, AAPL)           180 non-null    float64
 23  (Open, GOOG)           180 non-null    float64
 24  (Open, INTC)           180 non-null    float64
 25  (Open, QQQ)            180 non-null    float64
 26  (Open, SPYD)           180 non-null    float64
 27  (Stock Splits, AAPL)   180 non-null    float64
 28  (Stock Splits, GOOG)   180 non-null    float64
 29  (Stock Splits, INTC)   180 non-null    float64
 30  (Stock Splits, QQQ)    180 non-null    float64
 31  (Stock Splits, SPYD)   180 non-null    float64
 32  (Volume, AAPL)         180 non-null    int64
 33  (Volume, GOOG)         180 non-null    int64
 34  (Volume, INTC)         180 non-null    int64
 35  (Volume, QQQ)          180 non-null    int64
 36  (Volume, SPYD)         180 non-null    int64
dtypes: float64(32), int64(5)
memory usage: 53.4 KB